<footer>
    <hr />
    <div class="footer" id="contact">
        <div><a href="#top"><img src="assets/icons/logo_2.png" alt="logo"></a></div>
        <div>
            <ul class="footer-links">
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#contact">CONTACT US</a></li>
                <li><a href="#help">HELP</a></li>
                <li><a href="#policy">PRIVACY POLICY</a></li>
            </ul>
        </div>
        <div class="info-box">
            <h3>Info</h3>
            <div class="info">
                <img src="assets/icons/location.png" alt="address">
                <p>Address Line</p>
            </div>
            <div class="info">
                <img src="assets/icons/phone.png" alt="phone-contact">
                <p>(+39)123-456-7890</p>
            </div>
            <h3>Social Media</h3>
            <div class="socials">
                <div><a href="#linkedin"><img src="assets/icons/LinkedIn.png" alt="linkedin"></a></div>
                <div><a href="#youtube"><img src="assets/icons/Youtube.png" alt="youtube"></a></div>
                <div><a href="#instagram"><img src="assets/icons/Instagram.png" alt="instagram"></a></div>
            </div>
        </div>
    </div>
    <hr />
  </footer>