<header id="top">
    <div class="top-bar">
      <div class="country">
        <a href="#language"><img src="assets/icons/country.png" alt="language"></a>
      </div>
      <div class="signin">
        <a href="#signin">Sign In / Sign Up</a>
        <a href="#signup"><img src="assets/icons/signin.png" alt="signIn"></a>
      </div>
    </div>
    <nav class="nav">
      <div class="nav-box">
        <div class="nav_1">
          <div><a href="#home"><img src="assets/icons/logo_1.png" alt="logo"></a></div>
          <a class="navLink" href="#top">HOME</a>
          <a class="navLink" href="#news">NEWS</a>
          <a class="navLink" href="#about">ABOUT</a>
          <a class="navLink" href="#feature">PRODUCT</a>
          <a class="navLink" href="#contact">CONTACT US</a>
        </div>
        <div class="nav_2">
          <div><a href="#search"><img src="assets/icons/search.png" alt="search"></a></div>
          <div><img src="assets/icons/v_line.png" alt="divider"></div>
          <div><a href="#cart"><img src="assets/icons/cart.png" alt=""></a></div>
          <div><img src="assets/icons/v_line.png" alt="divider"></div>
          <div><a href="#cta"><button class="cta" type="button">BE OUR PARTNER</button></a></div>
        </div>
      </div>
    </nav>
  </header>