<section class="hero-section">
    <section class="hero">
    <div class="hero-text">
      <h1>Lorem Ipsum <br/> dolor sit amet</h1>
      <div class="p">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend nisi in ante accumsan interdum. Pellentesque consequat est nisl, non vehicula erat cursus vitae. Nam tempus, diam id vehicula dapibus,</p>
        <div class="hero-cta">
          <button class="cta">CONTACT NOW</button>
          <div><img src="assets/icons/cta.png" alt="cta"></div>
          <span class="hero-action"><a href="#cta">Book a Demo</a></span>
        </div>
      </div>
      </div>
    <div class="hero-img">
      <img class="hero-pic" src="assets/images/hero.jpg" alt="">
    </div>
    </section>
  </section>