<section class="newsletter">
    <div class="newsletter-text">
      <div class="newsletter-header"><h1>Quisque id ex molestie mauris dictum pharetra.</h1></div>
      <div><p class="p">Integer consequat rutrum ante ut tincidunt. Sed a arcu id mi convallis accumsan nec nec nisi. Nulla ut imperdiet leo, ut efficitur nisl. Nam efficitur turpis vitae viverra pellentesque. Aliquam erat volutpat.        
        </p></div>
      <div><p class="p sub-p">Phasellus a ante et metus dignissim mattis!</p></div>
      <div>
        <div class="input">
          <span><img src="assets/icons/user.png" alt="user-icon"></span>
          <input type="text" name="name" id="name" placeholder="Full Name">
        </div>
        <div class="input">
          <span><img src="assets/icons/send.png" alt="email-icon"></span>
          <input type="email" name="email" id="email" placeholder="Email Address">
        </div>
        <div class="input">
          <button type="submit">SUBSCRIBE  ></button>
        </div>
      </div>
    </div>
    <div class="newsletter-img">
      <div class="newsletter-man">
        <img src="assets/images/newsletter.jpg" alt="newsletter-man">
        <div class="achievements">
          <img src="assets/icons/achievements.png" alt="achievements" width="400px">
        </div>
      </div>
    </div>
</section>