<section class="latest-news" id="news">
    <div class="latest-news-header">
      <h1>Latest News</h1>
      <p>Lorem Ipsum dolor sit amet.</p>
    </div>
    <div class="news">
        <div><img src="assets/images/news.jpg" alt="latest-news"></div>
        <div class="news-text">
            <button class="cta">CATEGORY</button>
            <div class="news-header"><h1>Nunc accumsan porttitor neque eget pulvinar.</h1></div>
            <div class="p">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae sem iaculis, varius eros sit amet, placerat turpis. Etiam faucibus, massa at tempus aliquam, dui mauris bibendum magna, at blandit turpis ipsum quis felis.    
                </p>
                <p>Donec elit neque, laoreet ut mauris a, lacinia porta sapien. Suspendisse consequat elit a ligula fringilla, at vehicula eros tincidunt. Aliquam scelerisque commodo imperdiet. Phasellus non pharetra elit.</p>
                <p> Donec elit neque, laoreet ut mauris a, lacinia porta sapien. Suspendisse consequat.</p>
            </div>
            <div class="read-news">
              <a href="more" class="read-more">READ MORE</a>
              <div><img src="assets/icons/more.png" alt="read-more"></div>
            </div>
        </div>
    </div>
  </section>

  <section class="more-news">
    <div class="news-box">
        <div><img src="assets/images/news_3.jpg" alt="news"></div>
        <button class="cta">CATEGORY</button>
        <div class="news-header"><h1>Nunc accumsan porttitor neque eget pulvinar.</h1></div>
        <div class="p"><p> Etiam facilisis interdum arcu vulputate cursus. Mauris fringilla eros quis mi imperdiet viverra. Donec rutrum nunc sit amet dolor scelerisque laoreet ut quis augue. In in commodo tellus, in blandit libero.</p></div>
        <div class="read-news">
          <a href="more" class="read-more">READ MORE</a>
          <div><img src="assets/icons/more.png" alt="read-more"></div>
        </div>
    </div>
    <div class="news-box">
        <div><img src="assets/images/news_1.jpg" alt="news"></div>
        <button class="cta">CATEGORY</button>
        <div class="news-header"><h1>Nunc accumsan porttitor neque eget pulvinar.</h1></div>
        <div class="p"><p> Etiam facilisis interdum arcu vulputate cursus. Mauris fringilla eros quis mi imperdiet viverra. Donec rutrum nunc sit amet dolor scelerisque laoreet ut quis augue. In in commodo tellus, in blandit libero.</p></div>
        <div class="read-news">
          <a href="more" class="read-more">READ MORE</a>
          <div><img src="assets/icons/more.png" alt="read-more"></div>
        </div>
    </div>
    <div class="news-box">
        <div><img src="assets/images/news_2.jpg" alt="news"></div>
        <button class="cta">CATEGORY</button>
        <div class="news-header"><h1>Nunc accumsan porttitor neque eget pulvinar.</h1></div>
        <div class="p"><p> Etiam facilisis interdum arcu vulputate cursus. Mauris fringilla eros quis mi imperdiet viverra. Donec rutrum nunc sit amet dolor scelerisque laoreet ut quis augue. In in commodo tellus, in blandit libero.</p></div>
        <div class="read-news">
          <a href="more" class="read-more">READ MORE</a>
          <div><img src="assets/icons/more.png" alt="read-more"></div>
        </div>
    </div>
  </section>

  <section class="pagination">
    <div>
      <img src="assets/icons/pagination.png" alt="pagination">
    </div>
  </section>