<section class="service-box">
    <div class="service">
        <div class="service-icon"><img src="assets/icons/service_1.png" alt="service_1"></div>
        <h1 class="service-name">Service A</h1>
    </div>
    <div class="service">
        <div class="service-icon"><img src="assets/icons/service_2.png" alt="service_2"></div>
        <h1 class="service-name">Service B</h1>
    </div>
    <div class="service">
        <div class="service-icon"><img src="assets/icons/service_3.png" alt="service_3"></div>
        <h1 class="service-name">Service C</h1>
    </div>
  </section>

  <section class="product" id="feature">
    <div class="product-img">
        <img src="assets/images/city.jpg" alt="vision">
    </div>
    <div class="product-text">
        <div class="product-header"><h1>Duis eleifend nisi in ante accumsan interdum.</h1></div>
        <div class="p"><p>Nam condimentum ultricies enim, sed elementum magna varius quis. Praesent mollis cursus diam vehicula venenatis. Proin fringilla tortor in magna cursus euismod. Phasellus elit ligula, accumsan eget malesuada eget, tincidunt quis massa. Cras feugiat ultricies ante. Nulla eget nulla vel nunc imperdiet euismod.</p></div>
        <div class="product_listing">
            <div>
                <div class="listing">
                    <div class="product-icon"><img src="assets/icons/service_4.png" alt="service_4"></div>
                    <h3 class="product-desc"><a href="#service">Integer consequat rutrum ante ut tincidunt.</a></h3>
                </div>
                <div class="listing">
                    <div class="product-icon"><img src="assets/icons/service_5.png" alt="service_5"></div>
                    <h3 class="product-desc"><a href="#service">Maecenas vel aliquet dolor, vel cursus augue.</a></h3>
                </div>
            </div>
            <button class="cta">CALL TO ACTION  ></button>
        </div>
    </div>
  </section>