<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="bizedege corporate website">
  <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="styles/app.css">
  <title>{{ .Title }}</title>
</head>
<body>
<div id="root">

  {{ partial "header" . }}

  {{ partial "hero" . }}

  {{ partial "service" . }}

  {{ partial "newsletter" . }}

  {{ partial "news" . }}

  {{ partial "countdown" . }}

  {{ partial "footer" . }}

</div>
</body>
</html>
